@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #1AA3B3; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #1AA3B3; }

header {
  background: linear-gradient(#B4DED1, white); }

.nav-link {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #1AA3B3; }

.nav-link:hover {
  color: #1D4A7A; }

.textoazul {
  color: #1D4A7A; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-toggle:active {
  pointer-events: none; }

.video {
  width: 1000px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.slogan p {
  font-family: 'Pacifico';
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  font-family: Pacifico;
  color: #1D4A7A; }

.sinborde {
  border: none;
  background-color: transparent; }

.cajapadre {
  background: linear-gradient(to right, #6fc7ab, white);
  text-align: justify; }

.miboton {
  background-color: #1AA3B3;
  border-radius: 30px;
  border: 3px solid #1D4A7A;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666; }

.miboton:hover {
  background-color: #1D4A7A; }

footer {
  background: linear-gradient(white, #B4DED1); }
