@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,800&display=swap");
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; } }

@keyframes color-change-4x {
  0% {
    background: #19dcea; }
  33.3333% {
    background: #1D4A7A; }
  66.666% {
    background: #481974; }
  100% {
    background: #1010f5; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #1AA3B3; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #1AA3B3; }

header {
  background: linear-gradient(#B4DED1, white); }

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1AA3B3; }

.nav-link:hover {
  color: #1D4A7A; }

.szredes1 {
  width: 40px; }

.szlogo1 {
  width: 150px; }

.szlogo2 {
  width: 200px; }

.szredes2 {
  width: 30px; }

.textoazul {
  color: #1D4A7A; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown > .dropdown-toggle:active {
  pointer-events: none; }

.video {
  width: 1000px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.slogan {
  font-family: 'Pacifico';
  font-size: 35px;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  color: #1D4A7A; }

.texto1inicio {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A;
  font-weight: 900;
  text-align: justify; }

.texto2inicio {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A;
  text-align: justify; }

.sinborde {
  border: none;
  background-color: transparent; }

.cajapadre {
  background: linear-gradient(to right, #6fc7ab, white);
  text-align: justify; }

.miboton {
  background-color: #1AA3B3;
  border-radius: 30px;
  border: 3px solid #1D4A7A;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666; }

.miboton:hover {
  background-color: #1D4A7A; }

footer {
  background: linear-gradient(white, #B4DED1); }

@media only screen and (max-width: 600px) {
  #desplegable {
    background-color: transparent;
    text-align: center;
    color: #1D4A7A; }
  .slogan {
    font-family: 'Pacifico';
    font-size: 20px;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    color: #1D4A7A; }
  .texto1inicio {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D4A7A;
    font-weight: 900;
    text-align: justify; }
  .texto2inicio {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D4A7A;
    text-align: justify; } }

.pad30 {
  padding-left: 20px;
  padding-right: 20px; }

.texto1nosotros {
  font-family: 'Pacifico';
  font-size: 35px;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  color: #1D4A7A; }

.texto2nosotros {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A;
  text-align: justify; }

.texto3nosotros {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A;
  font-weight: 900;
  text-align: justify; }

.textodosn {
  font-family: 'Pacifico';
  font-size: 35px;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  color: #1D4A7A;
  text-align: justify; }

@media only screen and (max-width: 600px) {
  .texto1nosotros {
    font-family: 'Pacifico';
    font-size: 20px;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    color: #1D4A7A; }
  .texto2nosotros {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D4A7A;
    text-align: justify; }
  .texto3nosotros {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D4A7A;
    font-weight: 900;
    text-align: justify; } }

.texto1novedades {
  font-family: 'Pacifico';
  font-size: 35px;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  color: #1D4A7A; }

.texto2novedades {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A;
  text-align: justify; }

.texto3novedades {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: white; }

.circulos {
  width: 200px; }

.scale-in-hor-left {
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.bgcnovedades {
  display: none;
  background-color: cadetblue; }

.color-change-4x {
  -webkit-animation: color-change-4x 6s linear infinite alternate both;
  animation: color-change-4x 6s linear infinite alternate both; }

@media only screen and (max-width: 600px) {
  .texto1novedades {
    font-family: 'Pacifico';
    font-size: 20px;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    color: #1D4A7A; }
  #pd1 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: none;
    padding-right: none; }
  .texto2novedades {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D4A7A;
    text-align: justify; }
  .texto3novedades {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white; } }

.texto1tienda {
  font-family: 'Pacifico';
  font-size: 35px;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  color: #1D4A7A; }

.texto2tienda {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1AA3B3; }

.texto3tienda {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white; }

@media only screen and (max-width: 600px) {
  .texto1tienda {
    font-family: 'Pacifico';
    font-size: 20px;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    color: #1D4A7A; }
  .texto2tienda {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1AA3B3; }
  .texto3tienda {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white; } }

.texto1contacto {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #1AA3B3;
  text-align: justify; }

.texto2contacto {
  font-family: 'Pacifico';
  font-size: 30px;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  color: #1D4A7A;
  text-align: justify; }

.texto3contacto {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A;
  text-align: justify; }

.texto4contacto {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1AA3B3; }

.textoimputcontacto {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #cbcaca; }

.textoredescontacto1 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1AA3B3; }

.textoredescontacto1:hover {
  color: #1D4A7A; }

.textoredescontacto2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A; }

.espaciado150 {
  padding-left: 150px;
  padding-right: 150px; }

.btnenviarcontacto {
  background-color: #1AA3B3;
  border-radius: 30px;
  border: 3px solid #1D4A7A;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666; }

.btnenviarcontacto:hover {
  background-color: #1D4A7A; }

.bordemapa {
  border: 3px solid #1AA3B3; }

@media only screen and (max-width: 600px) {
  #logofondo {
    background-image: url(/media/logos/masecobg.jpg);
    background-size: contain;
    background-repeat: initial; }
  .texto1contacto {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1AA3B3;
    text-align: justify; }
  .texto2contacto {
    font-family: 'Pacifico';
    font-size: 20px;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    color: #1D4A7A;
    text-align: justify; }
  .texto3contacto {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #1D4A7A;
    text-align: justify; }
  .texto4contacto {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1AA3B3; }
  .textoimputcontacto {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #cbcaca; }
  .textoredescontacto1 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1AA3B3; } }

@media only screen and (min-width: 600px) {
  #logofondo {
    background-image: url(/media/logos/masecobg.jpg);
    background-size: contain;
    background-repeat: no-repeat; } }

@media only screen and (max-width: 600px) {
  #mapa {
    width: 250px; } }

@media only screen and (min-width: 600px) {
  #mapa {
    width: 500px; } }

.texto1noticias {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1D4A7A;
  text-align: justify; }

.texto2noticias {
  font-family: 'Pacifico';
  font-size: 25px;
  text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
  color: #1D4A7A; }

.imgnoticia {
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-bottom: 10px; }

.zsgif1 {
  width: 300px; }

.zsgif2 {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-bottom: 10px; }

.bgnoticas {
  background: linear-gradient(white, #B4DED1); }

@media only screen and (max-width: 600px) {
  .texto1noticias {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #1D4A7A;
    text-align: justify; }
  .texto2noticias {
    font-family: 'Pacifico';
    font-size: 20px;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    color: #1D4A7A; } }
