//TEXTO JUSTIFICADO

@mixin jfy{
    text-align: justify;
}

//BOTON TEXTO

@mixin mi-btn{

        background-color:$font-color-1;
        border-radius:30px;
        border:3px solid $font-color-2;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:20px;
        padding:4px 9px;
        text-decoration:none;
        text-shadow:0px 1px 0px #263666;
}

@mixin hb-mi-btn { 
    background-color: $font-color-2;
}

@mixin font-uno ($fsizeuno, $coloruno){
    font-family: 'Raleway', sans-serif;
    font-size: $fsizeuno;
    font-weight: 600;
    color: $coloruno;
}

@mixin font-dos ($fsizedos, $colordos){
    font-family:'Pacifico';
    font-size: $fsizedos;
    text-shadow: 0 3px 0 rgba(255, 255, 255, 0.4);
    color: $colordos;
}

@mixin dflx {
    justify-content: center;
}
