//PALETA DE COLORES

$font-color-1: #1AA3B3;
$font-color-2: #1D4A7A;


//FONDOS
$fondo-encabezado-color: linear-gradient(#B4DED1, white);
$fondo-main-color: linear-gradient(to right,#6fc7ab, white);
$fondo-footer-color: linear-gradient(white, #B4DED1);

//JUSTIFY

