.fnoticiasuno{
    @include font-uno(18px, $font-color-2);
    @include jfy;
}

.fnoticiasdos{
    @include font-dos(25px, $font-color-2)
    
}

.imgnoticia{
    width: auto;
    @include sombra;
    margin-bottom: 10px;
}

.zsgif1{
    width: 300px;
    
}
.zsgif2{
    width: 300px;
    @include sombra;
    margin-bottom: 10px;
}

.bgnoticas{
    background: $fondo-footer-color;
}

