
header{
    background: $fondo-encabezado-color;
}

.nav-link{
    @include font-uno(18px, $font-color-1);
}

.nav-link:hover{
    color: $font-color-2
}

.szredes1{
    width: 40px;
}
.szredes2{
    width: 30px;
}

.textoazul{
    color: $font-color-2;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }

.video{
    width: 1000px;
    height: 350px;
    @include sombra;
}
.slogan{
    @include font-dos(35px, $font-color-2) ;
}

.sinborde{
    border: none;
    background-color: transparent; 
  }

.cajapadre{
    background: $fondo-main-color;
    @include jfy;
}

.miboton {
	@include mi-btn;
}
.miboton:hover{
    @include hb-mi-btn;
}

footer {
    background: $fondo-footer-color;
}

@media only screen and (max-width: 600px) {
    #desplegable{
        background-color: transparent;
        text-align: center;
        color: $font-color-2
    }

}

.textoecn{
    @include font-uno(18px, $font-color-2);
    @include jfy; 
}

.pad30{
    padding-left: 30px;
    padding-right: 30px;
}