
.texto1novedades{
    @include font-dos(35px, $font-color-2);
}

.texto2novedades{
    @include font-uno(18px, $font-color-2);
    @include jfy;
}

.texto3novedades{
    @include font-uno(35px, white);
}

.circulos{
    width: 200px;
}

.scale-in-hor-left {
	-webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bgcnovedades {
    display: none;
    background-color: cadetblue;
}

.color-change-4x {
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
	animation: color-change-4x 6s linear infinite alternate both;
}

@media only screen and (max-width: 600px) {

    .texto1novedades{
        @include font-dos(20px, $font-color-2);
    }

    #pd1{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        padding-left: none;
        padding-right: none;
    }
    
    .texto2novedades{
        @include font-uno(15px, $font-color-2);
        @include jfy;
    }
    .texto3novedades{
        @include font-uno(20px, white);
    }
}