.textounonovedades{
    @include font-uno(25px, $font-color-2);
    font-weight: 900;
    @include jfy;
}

.textounonovpr{
    @include font-uno(30px, white);
    font-weight: 900;
    @include jfy;
}

.textounonprecio{
  @include font-uno(30px, white);
  font-weight: 900;
}
.circulos{
    width: 200px;
}

.scale-in-hor-left {
	-webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bgcnovedades {
    display: none;
    background-color: cadetblue;
}

.color-change-4x {
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
	animation: color-change-4x 6s linear infinite alternate both;
}
